.tweetMessage{
    font-size: 20px;
    font: Sans-serif;
    margin: 6 auto;
}

.tweetTitle{
    font-size: 26px;
    margin-bottom: -2%;
    float: left;
}

.tweetBackground{
    width: 40%;
    margin: 0 auto;
    margin-top: 1%;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: radial-gradient(rgb(199, 235, 247) 50%, #3B5998), radial-gradient(circle at top left, #3B5998,#3B5998);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.textBox{
    margin-left: 4%;
    margin-right: 4%;
}

.tweetDate{
    opacity: 0.7;
    font-size: small;
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

.tweetImg{
    float: left;
    margin-left: -5%;
    margin-right: 75%;
}

.tweetLike{
    display: inline-block;
    vertical-align: top;
}

.alignMiddle{
    margin: 0 auto;
    width: 40%;
}

.searchBar{
    height: 40px;
    width: 100%;
}

.underSearchBar{
    height: 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}